<a href="https://colab.research.google.com/github/Jhow3D/Python---M-dulo-3---An-lise-dedados-/blob/main/Aula_2_part_2_Python_M%C3%B3dulo_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DataFrame é semelhante a uma formação de uma planilha, já que "df" é uma tabela.

In [1]:
import pandas as pd 
import numpy as np

In [2]:
data = [[1,2,3],
        [4,5,6],
        [7,8,9],
        [10,11,12]]

In [4]:
dados = np.matrix(data)
dados

matrix([[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9],
        [10, 11, 12]])

In [6]:
meusDados = np.matrix('1,2,3;4,5,6;7,8,9;10,11,12')
meusDados

matrix([[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9],
        [10, 11, 12]])

In [9]:
pd.DataFrame(meusDados)

    0   1   2
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12

In [8]:
meusDados

matrix([[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9],
        [10, 11, 12]])

In [10]:
meuDf = pd.DataFrame(meusDados)

In [11]:
type(meuDf)

pandas.core.frame.DataFrame

Verificar os tipos de dados que contém o DataFrame:

In [12]:
meuDf.dtypes

0    int64
1    int64
2    int64
dtype: object

Verificar as informações do DataFrame:

In [28]:
meuDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       4 non-null      float64
 1   1       4 non-null      object
 2   2       4 non-null      float64
dtypes: float64(2), object(1)
memory usage: 224.0+ bytes

Modificando o tipo das variaveis com o "astype" todo o DataFrame:

In [26]:
meuDf.astype(float).inplace = True

Modificando a variavel de fato com o "astype"

In [37]:
meuDf = meuDf.astype(float)
meuDf

      0     1     2
0   1.0   2.0   3.0
1   4.0   5.0   6.0
2   7.0   8.0   9.0
3  10.0  11.0  12.0

Modificando o tipo das variáveis com "astype" somente em colunas especificas:

In [22]:
meuDf[1] = meuDf[1].astype(str)
meuDf

      0     1     2
0   1.0   2.0   3.0
1   4.0   5.0   6.0
2   7.0   8.0   9.0
3  10.0  11.0  12.0

In [29]:
meuDf.dtypes

0    float64
1     object
2    float64
dtype: object

Criando indices e colunas para modificar o dataframe:

In [30]:
indice = ['Linha' + str(i) for i in range(4)]

In [31]:
colunas = ['Coluna' +  str(i) for i in range(3)]

In [33]:
df2 = pd.DataFrame(data= meusDados, index= indice, columns = colunas)
df2

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9
Linha3       10       11       12

In [34]:
df2 = pd.DataFrame(meusDados, indice, colunas)
df2

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9
Linha3       10       11       12

In [41]:
df3 = {'Coluna0' : {'Linha0': 1, 'Linha1':4 , 'Linha2': 7},
      'Coluna1' : {'Linha0': 2, 'Linha1':5 , 'Linha2': 8},
      'Coluna2' : {'Linha0': 3, 'Linha1':6 , 'Linha2': 9}
       }
df3 = pd.DataFrame(df3)

In [42]:
df4 = pd.concat([meuDf, df2, df3]) 
df4

           0     1     2  Coluna0  Coluna1  Coluna2
0        1.0   2.0   3.0      NaN      NaN      NaN
1        4.0   5.0   6.0      NaN      NaN      NaN
2        7.0   8.0   9.0      NaN      NaN      NaN
3       10.0  11.0  12.0      NaN      NaN      NaN
Linha0   NaN   NaN   NaN      1.0      2.0      3.0
Linha1   NaN   NaN   NaN      4.0      5.0      6.0
Linha2   NaN   NaN   NaN      7.0      8.0      9.0
Linha3   NaN   NaN   NaN     10.0     11.0     12.0
Linha0   NaN   NaN   NaN      1.0      2.0      3.0
Linha1   NaN   NaN   NaN      4.0      5.0      6.0
Linha2   NaN   NaN   NaN      7.0      8.0      9.0

"isnull" é usado para saber se existe tabelas com valores nulos.

In [43]:
df4.isnull()

            0      1      2  Coluna0  Coluna1  Coluna2
0       False  False  False     True     True     True
1       False  False  False     True     True     True
2       False  False  False     True     True     True
3       False  False  False     True     True     True
Linha0   True   True   True    False    False    False
Linha1   True   True   True    False    False    False
Linha2   True   True   True    False    False    False
Linha3   True   True   True    False    False    False
Linha0   True   True   True    False    False    False
Linha1   True   True   True    False    False    False
Linha2   True   True   True    False    False    False

Somar os valores nulos nas colunas:

In [44]:
df4.isnull().sum()

0          7
1          7
2          7
Coluna0    4
Coluna1    4
Coluna2    4
dtype: int64

Filtrar valores nulos:

In [45]:
df4.fillna

<bound method DataFrame.fillna of            0     1     2  Coluna0  Coluna1  Coluna2
0        1.0   2.0   3.0      NaN      NaN      NaN
1        4.0   5.0   6.0      NaN      NaN      NaN
2        7.0   8.0   9.0      NaN      NaN      NaN
3       10.0  11.0  12.0      NaN      NaN      NaN
Linha0   NaN   NaN   NaN      1.0      2.0      3.0
Linha1   NaN   NaN   NaN      4.0      5.0      6.0
Linha2   NaN   NaN   NaN      7.0      8.0      9.0
Linha3   NaN   NaN   NaN     10.0     11.0     12.0
Linha0   NaN   NaN   NaN      1.0      2.0      3.0
Linha1   NaN   NaN   NaN      4.0      5.0      6.0
Linha2   NaN   NaN   NaN      7.0      8.0      9.0>

Subistituir valores com "fillna"

In [48]:
df5 = df4.fillna(df4.mean())
df5

           0     1     2    Coluna0    Coluna1    Coluna2
0        1.0   2.0   3.0   4.857143   5.857143   6.857143
1        4.0   5.0   6.0   4.857143   5.857143   6.857143
2        7.0   8.0   9.0   4.857143   5.857143   6.857143
3       10.0  11.0  12.0   4.857143   5.857143   6.857143
Linha0   5.5   6.5   7.5   1.000000   2.000000   3.000000
Linha1   5.5   6.5   7.5   4.000000   5.000000   6.000000
Linha2   5.5   6.5   7.5   7.000000   8.000000   9.000000
Linha3   5.5   6.5   7.5  10.000000  11.000000  12.000000
Linha0   5.5   6.5   7.5   1.000000   2.000000   3.000000
Linha1   5.5   6.5   7.5   4.000000   5.000000   6.000000
Linha2   5.5   6.5   7.5   7.000000   8.000000   9.000000

"dropna" serve para deletar valores nulos do dataframe:

In [49]:
df8 = df5.copy() #copiando dataframe anterior.

In [50]:
df4.dropna(inplace = True)
df4

Empty DataFrame
Columns: [0, 1, 2, Coluna0, Coluna1, Coluna2]
Index: []

In [51]:
df5

           0     1     2    Coluna0    Coluna1    Coluna2
0        1.0   2.0   3.0   4.857143   5.857143   6.857143
1        4.0   5.0   6.0   4.857143   5.857143   6.857143
2        7.0   8.0   9.0   4.857143   5.857143   6.857143
3       10.0  11.0  12.0   4.857143   5.857143   6.857143
Linha0   5.5   6.5   7.5   1.000000   2.000000   3.000000
Linha1   5.5   6.5   7.5   4.000000   5.000000   6.000000
Linha2   5.5   6.5   7.5   7.000000   8.000000   9.000000
Linha3   5.5   6.5   7.5  10.000000  11.000000  12.000000
Linha0   5.5   6.5   7.5   1.000000   2.000000   3.000000
Linha1   5.5   6.5   7.5   4.000000   5.000000   6.000000
Linha2   5.5   6.5   7.5   7.000000   8.000000   9.000000

In [52]:
df5.dropna(subset = [1], inplace = True)
df5

           0     1     2    Coluna0    Coluna1    Coluna2
0        1.0   2.0   3.0   4.857143   5.857143   6.857143
1        4.0   5.0   6.0   4.857143   5.857143   6.857143
2        7.0   8.0   9.0   4.857143   5.857143   6.857143
3       10.0  11.0  12.0   4.857143   5.857143   6.857143
Linha0   5.5   6.5   7.5   1.000000   2.000000   3.000000
Linha1   5.5   6.5   7.5   4.000000   5.000000   6.000000
Linha2   5.5   6.5   7.5   7.000000   8.000000   9.000000
Linha3   5.5   6.5   7.5  10.000000  11.000000  12.000000
Linha0   5.5   6.5   7.5   1.000000   2.000000   3.000000
Linha1   5.5   6.5   7.5   4.000000   5.000000   6.000000
Linha2   5.5   6.5   7.5   7.000000   8.000000   9.000000

In [53]:
df6 = df5.drop(columns = ['Coluna0'])
df6

           0     1     2    Coluna1    Coluna2
0        1.0   2.0   3.0   5.857143   6.857143
1        4.0   5.0   6.0   5.857143   6.857143
2        7.0   8.0   9.0   5.857143   6.857143
3       10.0  11.0  12.0   5.857143   6.857143
Linha0   5.5   6.5   7.5   2.000000   3.000000
Linha1   5.5   6.5   7.5   5.000000   6.000000
Linha2   5.5   6.5   7.5   8.000000   9.000000
Linha3   5.5   6.5   7.5  11.000000  12.000000
Linha0   5.5   6.5   7.5   2.000000   3.000000
Linha1   5.5   6.5   7.5   5.000000   6.000000
Linha2   5.5   6.5   7.5   8.000000   9.000000

In [54]:
df7 = df6.drop(index = [2])
df7

           0     1     2    Coluna1    Coluna2
0        1.0   2.0   3.0   5.857143   6.857143
1        4.0   5.0   6.0   5.857143   6.857143
3       10.0  11.0  12.0   5.857143   6.857143
Linha0   5.5   6.5   7.5   2.000000   3.000000
Linha1   5.5   6.5   7.5   5.000000   6.000000
Linha2   5.5   6.5   7.5   8.000000   9.000000
Linha3   5.5   6.5   7.5  11.000000  12.000000
Linha0   5.5   6.5   7.5   2.000000   3.000000
Linha1   5.5   6.5   7.5   5.000000   6.000000
Linha2   5.5   6.5   7.5   8.000000   9.000000

Filtrar valores unicos no DataFrame:

In [55]:
df5.Coluna2.unique()

array([ 6.85714286,  3.        ,  6.        ,  9.        , 12.        ])

In [56]:
df5.columns.unique()

Index([0, 1, 2, 'Coluna0', 'Coluna1', 'Coluna2'], dtype='object')

In [57]:
df5.index.unique()

Index([0, 1, 2, 3, 'Linha0', 'Linha1', 'Linha2', 'Linha3'], dtype='object')

Ordenar os valores com base na coluna.

In [61]:
df8.sort_values(by = 'Coluna1')

           0     1     2    Coluna0    Coluna1    Coluna2
Linha0   5.5   6.5   7.5   1.000000   2.000000   3.000000
Linha0   5.5   6.5   7.5   1.000000   2.000000   3.000000
Linha1   5.5   6.5   7.5   4.000000   5.000000   6.000000
Linha1   5.5   6.5   7.5   4.000000   5.000000   6.000000
0        1.0   2.0   3.0   4.857143   5.857143   6.857143
1        4.0   5.0   6.0   4.857143   5.857143   6.857143
2        7.0   8.0   9.0   4.857143   5.857143   6.857143
3       10.0  11.0  12.0   4.857143   5.857143   6.857143
Linha2   5.5   6.5   7.5   7.000000   8.000000   9.000000
Linha2   5.5   6.5   7.5   7.000000   8.000000   9.000000
Linha3   5.5   6.5   7.5  10.000000  11.000000  12.000000

Renomeando dados com " rename ":

In [62]:
df8.rename(columns = {'Coluna1':'COLUNA 1'},inplace = True)
df8

           0     1     2    Coluna0   COLUNA 1    Coluna2
Linha0   5.5   6.5   7.5   1.000000   2.000000   3.000000
Linha0   5.5   6.5   7.5   1.000000   2.000000   3.000000
Linha1   5.5   6.5   7.5   4.000000   5.000000   6.000000
Linha1   5.5   6.5   7.5   4.000000   5.000000   6.000000
0        1.0   2.0   3.0   4.857143   5.857143   6.857143
1        4.0   5.0   6.0   4.857143   5.857143   6.857143
2        7.0   8.0   9.0   4.857143   5.857143   6.857143
3       10.0  11.0  12.0   4.857143   5.857143   6.857143
Linha2   5.5   6.5   7.5   7.000000   8.000000   9.000000
Linha2   5.5   6.5   7.5   7.000000   8.000000   9.000000
Linha3   5.5   6.5   7.5  10.000000  11.000000  12.000000

In [69]:
df8.rename(columns = {0:'janeiro', 1:'fevereiro',2:'março','Coluna 0':'abril',
                      'Coluna 1':'maio','Coluna 2':'junho','Coluna0':'julho',
                      'COLUNA 1':'agosto','Coluna2':'setembro'},inplace = True)
df8

        janeiro  feveriro  março      julho     agosto   setembro
Linha0      5.5       6.5    7.5   1.000000   2.000000   3.000000
Linha0      5.5       6.5    7.5   1.000000   2.000000   3.000000
Linha1      5.5       6.5    7.5   4.000000   5.000000   6.000000
Linha1      5.5       6.5    7.5   4.000000   5.000000   6.000000
0           1.0       2.0    3.0   4.857143   5.857143   6.857143
1           4.0       5.0    6.0   4.857143   5.857143   6.857143
2           7.0       8.0    9.0   4.857143   5.857143   6.857143
3          10.0      11.0   12.0   4.857143   5.857143   6.857143
Linha2      5.5       6.5    7.5   7.000000   8.000000   9.000000
Linha2      5.5       6.5    7.5   7.000000   8.000000   9.000000
Linha3      5.5       6.5    7.5  10.000000  11.000000  12.000000

Para varias linhas:

In [70]:
df8.dropna(subset = ['feveriro'], inplace = True)
df8

        janeiro  feveriro  março      julho     agosto   setembro
Linha0      5.5       6.5    7.5   1.000000   2.000000   3.000000
Linha0      5.5       6.5    7.5   1.000000   2.000000   3.000000
Linha1      5.5       6.5    7.5   4.000000   5.000000   6.000000
Linha1      5.5       6.5    7.5   4.000000   5.000000   6.000000
0           1.0       2.0    3.0   4.857143   5.857143   6.857143
1           4.0       5.0    6.0   4.857143   5.857143   6.857143
2           7.0       8.0    9.0   4.857143   5.857143   6.857143
3          10.0      11.0   12.0   4.857143   5.857143   6.857143
Linha2      5.5       6.5    7.5   7.000000   8.000000   9.000000
Linha2      5.5       6.5    7.5   7.000000   8.000000   9.000000
Linha3      5.5       6.5    7.5  10.000000  11.000000  12.000000

In [71]:
df9 = df8.rename(index = {0: 'Elon Musk',1:'Bill Gates',2:'Bernard Arnault',
                          3: 'Mark Zuckerberg'})
df9

                 janeiro  feveriro  março      julho     agosto   setembro
Linha0               5.5       6.5    7.5   1.000000   2.000000   3.000000
Linha0               5.5       6.5    7.5   1.000000   2.000000   3.000000
Linha1               5.5       6.5    7.5   4.000000   5.000000   6.000000
Linha1               5.5       6.5    7.5   4.000000   5.000000   6.000000
Elon Musk            1.0       2.0    3.0   4.857143   5.857143   6.857143
Bill Gates           4.0       5.0    6.0   4.857143   5.857143   6.857143
Bernard Arnault      7.0       8.0    9.0   4.857143   5.857143   6.857143
Mark Zuckerberg     10.0      11.0   12.0   4.857143   5.857143   6.857143
Linha2               5.5       6.5    7.5   7.000000   8.000000   9.000000
Linha2               5.5       6.5    7.5   7.000000   8.000000   9.000000
Linha3               5.5       6.5    7.5  10.000000  11.000000  12.000000

In [75]:
df9.reset_index(inplace = True)

In [76]:
df8.value_counts('março')

março
7.5     7
3.0     1
6.0     1
9.0     1
12.0    1
dtype: int64

In [77]:
df8.columns.value_counts().sum()

6

In [78]:
df8.index.value_counts().sum()

11